*{
  font-family: Quicksand, sans-serif;
}
.App{
  height: 100vh;

}
.image-upload>input {
  display: none;
}
.image-upload>label img{
  background-color: #03212a;
  width: 200px;
  
}
.tb-logo{
  height: 70%;
  width: 10%;
  border-radius: 100%;
  margin: 2px;
}
.logo{
  width: 20%;
}
.partner-logo{
  width: 20%;
  height: 30%;
  align-self: center;
}
.header{
  height: 20vh;
  display: flex;
  
}
.license{
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  padding: 10px;
  justify-content: space-around;
  margin-top: 20px;
}
.logos{
  display: flex;
  align-items: center;
  width: 80%;
  margin-left: 20px;
}
.ant-tabs-tab-btn{
  font-weight: bold;
}
.title{
  color:rgb(102, 177, 243) ;
  text-align: center;
  margin-bottom: 10px;
  background-color: aliceblue;
  z-index: 10px;
  border-radius: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: none;
}
.convertor{
  display: flex;
  flex-direction: column;
  width:fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  z-index: 20;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 10px;
  height: 70%;
  margin-bottom: 20px;
  margin-top: 24px;
}
.convertor>div{
  display: flex;
  margin: 10px;
  justify-content: space-between;
  font-size: 1rem;
  align-items: center;
}
 .label,.token{
  color: rgb(10, 35, 59);
  margin-right: 20px;
  padding: 10px;
  
  background-color: #e1ead9;
}
.convertor>div p{
  background-color: #e1ead9;
  padding: 10px;
  border-radius: 10px;
  color: #03212a;
}
.input{
  
  display: flex;
  width: 100%;
}

.inputLabel{
  display: flex;
align-content: center;
text-align: center;

width: 60%;
padding-right: 10px;
padding-left: 10px;
}
.inputLabel>img{
  margin-right: 30px;
  align-self: center;
  
}
.inputLabel>h4{
  text-align: center;
  width: 200px;
}
.inputLabel>img:hover{
  cursor: pointer;
}

.ant-btn{
  
  align-self: center;
}

.partner-logo{
  width: 200px;
  height: 50px;
  margin-left: 14%;
  margin-top: 20px;
}
.titlep{
  background-color: rgb(51, 146, 224);
  font-size: 30pt;
  color: rgb(255, 254, 254);
  text-align: center;
  letter-spacing: 3px;
  width: 40%;
  border-top-right-radius: 30px;
  z-index: 3;
  cursor: pointer;
}
.cdiv{
  height: 200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.cdiv>h1{
  
  text-align-last: center;
  padding-top: 6%;
  font-style:oblique;
 
  
  font-variant: small-caps;
}